<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        securityLevel: 'loose'
    });

    mermaid.init(undefined, ".language-mermaid");    
</script>

<style>
    .wrapper header {
        position: fixed;
        background: #fff;
        width: 100%;
        top: 20px;
    }

    .wrapper section {
        padding-top: 120px;
        padding-bottom: 120px;
        width: 100%;
        display: block;
        float: none;
    }

    .wrapper footer {
        position: fixed;
        background: #fff;
        width: 100%;
        bottom: 0px;
        padding-top: 20px;
        float: none;
    }
</style>